{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<body>
    <h2>New User Registration Page</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register User</button>
    </form>
    <p>
        Already have an Account ? 
        <a href="{% url 'user_login' %}">Login Here</a>
    </p>
    
</body>
</html>