<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>
<body>
    <h1>These are the details for the book: {{ book.title }}</h1>
    <p>
        Book Name : {{book.title}} <br>
        Author : {{book.author}} <br> 
        Published Date : {{book.published_date}} <br>
        ISBN Number : {{book.isbn}} <br>
        Number of Pages : {{book.pages}}
    </p>
    
</body>
</html>