{% extends 'main/base.html' %}
{% block content %}
    <h1>Welcome to the Home Page</h1><br>
    <h4>List of all the Books</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Published Date</th>
                <th>ISBN</th>
                <th>Number of Pages</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td> 
                        <a href="{% url 'book_details' book.id %}">{{ book.title }}</a>
                    </td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.published_date }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.pages }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    {% endblock content %}